<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin: 0;
                padding: 0;
            }
            .video-container {
                width: 100%;
                height: 100vh; /* Adjust the height to fit your screen */
                overflow: hidden;
                position: relative;
            }
            .video-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <h1>Live Streaming</h1>
        <div class="video-container">
            <img src="{{ url_for('videoss') }}" />
        </div>
    </body>
</html>
